.App {
  text-align: center;
}

.menuOutline {
  border: 1px solid grey;
}

.flexOutline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.divElements {
  flex: 0.12;
  border: 1px solid grey;
}

.divElements1 {
  flex: 0.145;
}
